html, body { height: 100%; }
body { 
    color: white;
    margin: 0; 
    font-family: "Tahoma", sans-serif; 
    background-image: url("background.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}