<div class="stuffdiv">
        <div class="p">
            <span>MATCHES BY DATE</span>
            <div class="line"></div>
        </div>
    <table class="datetable">
        <tr class="datetr">
        <td class="labeltd"><label for="day"> DAY </label></td>
        <td class="seltd"><select id="day" name="day" [(ngModel)]="day">
            <option selected value="1">1</option><option value="2">2</option><option value="3">3</option>
            <option value="4">4</option><option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option><option value="9">9</option>
            <option value="10">10</option><option value="11">11</option><option value="12">12</option>
            <option value="13">13</option><option value="14">14</option><option value="15">15</option>
            <option value="16">16</option><option value="17">17</option><option value="18">18</option>
            <option value="19">19</option><option value="20">20</option><option value="21">21</option>
            <option value="22">22</option><option value="23">23</option><option value="24">24</option>
            <option value="25">25</option><option value="26">26</option><option value="27">27</option>
            <option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
          </select>
        </td>
        </tr>
        <tr class="datetr">
        <td class="labeltd"><label for="month"> MONTH </label></td>
        <td class="seltd"><select id="month" name="month" [(ngModel)]="month">
            <option value="1">1</option><option value="2">2</option><option value="3">3</option>
            <option value="4">4</option><option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option><option value="9">9</option>
            <option value="10">10</option><option value="11">11</option><option value="12">12</option>
          </select>
        </td>
        </tr>
        <tr class="datetr">
        <td class="labeltd"><label for="year"> YEAR </label></td>
        <td class="seltd"><select id="year" name="year" [(ngModel)]="year" >
            <option selected value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
        </td>
        </tr>
    </table>
    <div class="searchbutton">
        <div class="sub"><input class="button" type="submit" name="submit_reg" value="SEARCH" (click)="findMatches()"></div>
    </div>
    <div class="sortbutton"><button class="button" id="sortbutton"(click)="sortMatches()">SORT MATCHES</button></div>

</div>

<div class="tablediv">
    <div class="tablesc">
    <div class="topic">PLAYED MATCHES</div>
    <table class="table">
    <thead class="thead">
        <tr>
            <th class="th">DATE</th>
            <th class="th">HOME TEAM</th>
            <th class="th">HOME GOALS</th>
            <th class="th">AWAY TEAM</th>
            <th class="th">AWAY GOALS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches">
            <td class="td">{{match.date.day}}-{{match.date.month}}-{{match.date.year}}</td>
            <td class="td">{{match.homeTeamName}}</td>
            <td class="td">{{match.hgoalsScored}}</td>
            <td class="td">{{match.awayTeamName}}</td>
            <td class="td">{{match.agoalsScored}}</td>
          </tr>
    </tbody>
    </table>
</div>
</div>
