<div class="headerdiv">
<header>
  <div class="topic">
    <h1>PREMIER LEAGUE</h1>
  </div>
  <div class="nav">
    <nav>
      <div class="divul">
      <ul>
        <li routerLinkActive="active"><a href="#" routerLinkActive="active2" routerLink="/home" class="links">HOME</a></li>
        <li routerLinkActive="active"><a href="#" routerLinkActive="active2" routerLink="/tables" class="links">PREMIER LEAGUE TABLE</a></li>
        <li routerLinkActive="active"><a href="#" routerLinkActive="active2" routerLink="/matches" class="links">MATCHES</a></li>
        <li routerLinkActive="active"><a href="#" routerLinkActive="active2" routerLink="/add" class="links">ADD CLUB</a></li>
        <li routerLinkActive="active"><a href="#" routerLinkActive="active2" routerLink="/generate" class="links">ADD MATCH</a></li>
      </ul>
      </div>
      </nav>
  </div>
</header>
</div>


<div class="routes">
<router-outlet>
</router-outlet>
</div>